# Example files
src/exampleFiles/

# Development files
.git/
.github/
.gitignore
.npmrc
*.log
node_modules/

# Test outputs
src/exampleFiles/outputAfterConversion/

# IDE files
.vscode/
.idea/
*.swp
*.swo